@use 'src/styles/vars';

.form {
  width: 100%;
  height: 10%;

  &__input {
    display: inline-block;
    width: 90%;
    height: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  &__submit {
    border: none;
    display: inline-block;
    width: 10%;
    height: 100%;
    color: vars.$primary;
    background-color: white;
    vertical-align: middle;
    transition: color 0.3s;
    border: 2px solid white;

    &:hover {
      color: vars.$secondary;
    }
  }
}